.homepage{
    display: flex;
    height: 100vh;
    .textContainer{
        flex: 3;
        .wrapper{
            padding-right: 100px ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 80%;
            .title{
                font-size: 42px;

            }
            .boxes{
                display: flex;
                justify-content: space-between;
            }
            h1{
                font-size: 36px;
            }
            h2{
                font-size: 20px;
                font-weight: 300;
                
            }
        }
    }
    .imgContainer{
        flex: 2;
       // background-color: #fcf5f3;
      //  background-color: #E7E8D1;
        background-color: #E7E8D1;
        position: relative;
        display: flex;
        align-items: center;

        img{
            position: absolute;
            width: 100%;
            right: 0;
    
        }
    }
   
}